interactions:
- request:
    body: ''
    headers:
      x-nuclia-nuakey:
      - DUMMY
    method: GET
    uri: https://europe-1.dp.progress.cloud/api/authorizer/info
  response:
    body:
      string: '{"auth":"nua_key","user":{"identity_type":"nua_key","user_id":"8701c866-f5c1-4783-b75d-f0e43fd1791b","account_id":"ab695f2e-5c0e-4c5e-8037-1916ba3a0dd1","account_type":"v3enterprise","allow_kb_management":false},"ip_info":null}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
