interactions:
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-stf-serviceaccount:
      - DUMMY
    method: GET
    uri: https://europe-1.stashify.cloud/api/v1/kb/e103caf3-f8cb-4161-a57c-aad1192d0666
  response:
    body:
      string: '{"slug":"sync-service","uuid":"e103caf3-f8cb-4161-a57c-aad1192d0666","config":{"uuid":null,"slug":"7af24410-95ea-404a-8226-20051b507fd8:sync-service","title":"Sync
        Service","description":"","learning_configuration":null,"external_index_provider":null,"configured_external_index_provider":{"type":"unset"},"similarity":null,"hidden_resources_enabled":false,"hidden_resources_hide_on_creation":false,"enforce_security":false},"model":null}'
    headers:
      content-type:
      - application/json
      x-nuclia-trace-id:
      - c56b1f3ac2530a4412ab0369a6229075
    status:
      code: 200
      message: OK
- request:
    body: '{"prefixes": [{"prefix": "/n/i"}]}'
    headers:
      content-type:
      - application/json
      x-stf-serviceaccount:
      - DUMMY
    method: POST
    uri: https://europe-1.stashify.cloud/api/v1/kb/e103caf3-f8cb-4161-a57c-aad1192d0666/catalog/facets
  response:
    body:
      string: '{"facets":{"/n/i":2,"/n/i/application":2,"/n/i/application/pdf":1,"/n/i/application/vnd.openxmlformats-officedocument.wordprocessingml.document":1}}'
    headers:
      content-type:
      - application/json
      x-nuclia-trace-id:
      - 2d6c593f4ca840bb27b9ade7432678f4
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-stf-serviceaccount:
      - DUMMY
    method: GET
    uri: https://europe-1.stashify.cloud/api/v1/kb/e103caf3-f8cb-4161-a57c-aad1192d0666/labelsets
  response:
    body:
      string: '{"uuid":"e103caf3-f8cb-4161-a57c-aad1192d0666","labelsets":{}}'
    headers:
      content-type:
      - application/json
      x-nuclia-trace-id:
      - 1519657563b22301d5c8841435fe1d88
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-stf-serviceaccount:
      - DUMMY
    method: GET
    uri: https://europe-1.stashify.cloud/api/v1/kb/e103caf3-f8cb-4161-a57c-aad1192d0666/configuration
  response:
    body:
      string: '{"resource_labelers_models":null,"paragraph_labelers_models":null,"intent_models":null,"visual_labeling":"disabled","ner_model":"multilingual","relation_model":"base","anonymization_model":"disabled","semantic_model":"multilingual-2024-05-06","semantic_models":["multilingual-2024-05-06"],"default_semantic_model":"multilingual-2024-05-06","semantic_graph_node_models":[],"default_semantic_graph_node_model":null,"semantic_graph_edge_models":[],"default_semantic_graph_edge_model":null,"semantic_vector_similarity":"DOT","semantic_vector_size":1024,"semantic_matryoshka_dims":[],"semantic_threshold":0.4,"generative_model":"chatgpt-azure-4o","user_keys":null,"user_prompts":null,"summary":"simple","summary_model":"chatgpt-azure-4o","summary_prompt":null,"prefer_markdown_generative_response":false,"allow_all_default_models":true,"semantic_model_configs":{"multilingual-2024-05-06":{"similarity":0,"size":1024,"threshold":0.4,"max_tokens":2048,"matryoshka_dims":[],"external":false}},"semantic_graph_node_model_configs":{},"semantic_graph_edge_model_configs":{}}'
    headers:
      content-type:
      - application/json
      x-nuclia-trace-id:
      - e2cb8fceed314eed454139adf9ae52d3
    status:
      code: 200
      message: OK
- request:
    body: '{"features": ["keyword"], "faceted": ["/classification.labels"]}'
    headers:
      content-type:
      - application/json
      x-stf-serviceaccount:
      - DUMMY
    method: POST
    uri: https://europe-1.stashify.cloud/api/v1/kb/e103caf3-f8cb-4161-a57c-aad1192d0666/search
  response:
    body:
      string: "{\"resources\":{\"c9a5194ebf7df8267828c2836c851618\":{\"id\":\"c9a5194ebf7df8267828c2836c851618\",\"slug\":\"3b0eb7ff8bb529dd0fe607c18c2a8b60\",\"title\":\"testsubfolder.docx\",\"summary\":\"\",\"icon\":\"application/vnd.openxmlformats-officedocument.wordprocessingml.document\",\"thumbnail\":\"/kb/e103caf3-f8cb-4161-a57c-aad1192d0666/resource/c9a5194ebf7df8267828c2836c851618/file/c9a5194ebf7df8267828c2836c851618/download/extracted/file_thumbnail\",\"metadata\":{\"metadata\":{},\"language\":\"et\",\"languages\":[\"et\",\"eo\"],\"status\":\"PROCESSED\"},\"usermetadata\":{\"classifications\":[]},\"fieldmetadata\":[],\"computedmetadata\":{\"field_classifications\":[]},\"created\":\"2026-03-06T20:13:31.590367\",\"modified\":\"2026-03-06T20:13:31.541535\",\"last_seqid\":0,\"last_account_seq\":null,\"queue\":\"private\",\"hidden\":false},\"866f34bfe00a53e9265df7699d9b264b\":{\"id\":\"866f34bfe00a53e9265df7699d9b264b\",\"slug\":\"1fec86515e41e88ff6b36d14e6b5353c\",\"title\":\"Business
        Context and Product Vision 2026 1_self_signed.pdf\",\"summary\":\"\",\"icon\":\"application/pdf\",\"thumbnail\":\"/kb/e103caf3-f8cb-4161-a57c-aad1192d0666/resource/866f34bfe00a53e9265df7699d9b264b/file/866f34bfe00a53e9265df7699d9b264b/download/extracted/file_thumbnail\",\"metadata\":{\"metadata\":{},\"language\":\"en\",\"languages\":[\"en\"],\"status\":\"PROCESSED\"},\"usermetadata\":{\"classifications\":[]},\"fieldmetadata\":[],\"computedmetadata\":{\"field_classifications\":[]},\"created\":\"2026-03-06T20:13:26.353143\",\"modified\":\"2026-03-06T20:13:26.337843\",\"last_seqid\":0,\"last_account_seq\":null,\"queue\":\"private\",\"hidden\":false}},\"paragraphs\":{\"results\":[{\"score\":0.0,\"rid\":\"c9a5194ebf7df8267828c2836c851618\",\"field_type\":\"f\",\"field\":\"c9a5194ebf7df8267828c2836c851618\",\"text\":\"
        \\n test \\n \\n \\n \",\"labels\":[],\"start_seconds\":null,\"end_seconds\":null,\"position\":{\"page_number\":0,\"index\":0,\"start\":0,\"end\":15},\"fuzzy_result\":false},{\"score\":0.0,\"rid\":\"c9a5194ebf7df8267828c2836c851618\",\"field_type\":\"a\",\"field\":\"title\",\"text\":\"testsubfolder.docx\",\"labels\":[],\"start_seconds\":null,\"end_seconds\":null,\"position\":{\"page_number\":0,\"index\":0,\"start\":0,\"end\":18},\"fuzzy_result\":false},{\"score\":0.0,\"rid\":\"866f34bfe00a53e9265df7699d9b264b\",\"field_type\":\"a\",\"field\":\"title\",\"text\":\"Business
        Context and Product Vision 2026 1_self_signed.pdf\",\"labels\":[],\"start_seconds[...]
[...]
- request:
    body: '{"query": "New employees at ADP", "filter_expression": {}}'
    headers:
      content-type:
      - application/json
      x-stf-serviceaccount:
      - DUMMY
    method: POST
    uri: https://europe-1.stashify.cloud/api/v1/kb/e103caf3-f8cb-4161-a57c-aad1192d0666/find
  response:
    body:
      string: "{\"resources\":{\"866f34bfe00a53e9265df7699d9b264b\":{\"id\":\"866f34bfe00a53e9265df7699d9b264b\",\"slug\":\"1fec86515e41e88ff6b36d14e6b5353c\",\"title\":\"Business
        Context and Product Vision 2026 1_self_signed.pdf\",\"summary\":\"\",\"icon\":\"application/pdf\",\"thumbnail\":\"/kb/e103caf3-f8cb-4161-a57c-aad1192d0666/resource/866f34bfe00a53e9265df7699d9b264b/file/866f34bfe00a53e9265df7699d9b264b/download/extracted/file_thumbnail\",\"metadata\":{\"metadata\":{},\"language\":\"en\",\"languages\":[\"en\"],\"status\":\"PROCESSED\"},\"usermetadata\":{\"classifications\":[]},\"fieldmetadata\":[],\"computedmetadata\":{\"field_classifications\":[]},\"created\":\"2026-03-06T20:13:26.353143\",\"modified\":\"2026-03-06T20:13:26.337843\",\"last_seqid\":0,\"last_account_seq\":null,\"queue\":\"private\",\"hidden\":false,\"origin\":null,\"extra\":null,\"relations\":null,\"data\":null,\"security\":null,\"fields\":{\"/f/866f34bfe00a53e9265df7699d9b264b\":{\"paragraphs\":{\"866f34bfe00a53e9265df7699d9b264b/f/866f34bfe00a53e9265df7699d9b264b/4766-6189\":{\"score\":0.012722708284854889,\"score_type\":\"RERANKER\",\"order\":0,\"text\":\"
        \\n 7\xA9 2025 Progress Software Corporation and/or its subsidiaries or affiliates.
        All rights reserved. \\n \\n Congrats getting to the next level! \\n \\n Employee
        Location Scrum Team New Position \\n Abhishek Tiwari Hyderabad Mangalayan
        QA Engineer, Senior 2 \\n \\n Ajoy Soni Hyderabad Avengers Software Engineer,
        Senior 1 \\n \\n Amit Anchaliya Hyderabad Atlantis Software Engineer, Principal
        1 \\n \\n Anshuman Singh Hyderabad Conqu[...]
- request:
    body: ''
    headers:
      content-type:
      - application/json
      x-stf-serviceaccount:
      - DUMMY
    method: GET
    uri: https://europe-1.stashify.cloud/api/v1/kb/e103caf3-f8cb-4161-a57c-aad1192d0666/resource/866f34bfe00a53e9265df7699d9b264b?show=origin
  response:
    body:
      string: '{"id":"866f34bfe00a53e9265df7699d9b264b","origin":{"source_id":"sync_config_019cade7-c177-77c5-99c2-c8771f85cf91","url":"","created":"2025-12-11T15:41:54.970000Z","modified":"2025-12-11T15:42:05.133000Z","metadata":{},"tags":[],"collaborators":[],"filename":"Business
        Context and Product Vision 2026 1_self_signed.pdf","related":[],"path":"Test
        folder/Test folder/Business Context and Product Vision 2026 1_self_signed.pdf","sync_metadata":{"file_id":"fi3567d8-8bbe-96ac-4e21-132d539a9e53","auth_provider":"sharefile_oauth","content_hash":"866f34bfe00a53e9265df7699d9b264b"},"source":"API"}}'
    headers:
      content-type:
      - application/json
      x-nuclia-trace-id:
      - dc4c21bee64e0688943d9787ef187569
    status:
      code: 200
      message: OK
- request:
    body: '{"query": "New employees at ADP", "filter_expression": {"field": {"or":
      [{"prop": "resource", "id": "866f34bfe00a53e9265df7699d9b264b"}]}}, "show":
      ["basic", "origin"], "citations": "llm_footnotes", "rag_strategies": [{"name":
      "field_extension", "fields": ["a/title", "a/summary"]}, {"name": "neighbouring_paragraphs",
      "before": 5, "after": 5}, {"name": "metadata_extension", "types": ["classification_labels",
      "origin"]}], "generative_model": "chatgpt-azure-4o-mini"}'
    headers:
      X-SHOW-CONSUMPTION:
      - 'true'
      content-type:
      - application/json
      x-stf-serviceaccount:
      - DUMMY
    method: POST
    uri: https://europe-1.stashify.cloud/api/v1/kb/e103caf3-f8cb-4161-a57c-aad1192d0666/ask
  response:
    body:
      string: "{\"item\":{\"type\":\"answer\",\"text\":\"New\"}}\n{\"item\":{\"type\":\"answer\",\"text\":\"
        employees\"}}\n{\"item\":{\"type\":\"answer\",\"text\":\" at\"}}\n{\"item\":{\"type\":\"answer\",\"text\":\"
        AD\"}}\n{\"item\":{\"type\":\"answer\",\"text\":\"P\"}}\n{\"item\":{\"type\":\"answer\",\"text\":\"
        include\"}}\n{\"item\":{\"type\":\"answer\",\"text\":\" V\"}}\n{\"item\":{\"type\":\"answer\",\"text\":\"am\"}}\n{\"item\":{\"type\":\"answer\",\"text\":\"shi\"}}\n{\"item\":{\"type\"[...]
